.root {
  max-width: 280px;
}

.token,
.amount {
  display: flex;
}

.token {
  align-items: center;
  justify-content: flex-start;
  margin-bottom: calc(var(--unit) * 3);

  p {
    margin-left: calc(var(--unit) * 3);
  }
}

.actions {
  margin-top: calc(var(--unit) * 3);

  > button:first-of-type {
    margin-right: var(--unit);
  }
}

.transfer,
.swap {
  margin: calc(var(--unit) * 3) 0;

  p {
    margin-top: calc(var(--unit) * 3);
  }
}

.submitButton {
  width: 100%;
  margin-top: calc(var(--unit) * 3);
}
