.root {
  width: 100%;
  margin: calc(var(--unit) * 8) 0;
}

.root tbody > tr {
  padding: calc(var(--unit) * 6) 0;
  border-bottom: 1px solid #616060;
}

.root tr,
.root th {
  display: flex;
  align-items: center;
}

.root tr td,
.root tr th {
  flex: 1;
  overflow: hidden;
  margin: 0 var(--unit);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
