:root {
  --container-width: 990px;
  --unit: 4px;

  --color-default: #a8a8a8;
  --color-primary: #8653f6;
  --color-secondary: rgb(255, 0, 122);
  --color-tertiary: #545454;
  --color-text: #fefefe;
  --color-background-light: #464646;
  --color-background: #333333;
  --color-background-dark: #292929;
  --color-background-extra-dark: #212121;
  --color-background-black: #191919;

  /* TODO: css theme should be unique and shared across repos (to discuss later) */
  --font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif';
  --font-family-secondary: 'Courier New', 'Lucida Console', 'Courier', 'Times',
    'Arial';


  --edit-field-background-color: #fff;
  --edit-field-color: #000;
}
