.root {
  background-color: var(--color-default);
  color: var(--color-text);
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: 0;
  cursor: pointer;

  &.primary {
    background-color: var(--color-primary);
  }

  &.secondary {
    background-color: var(--color-secondary);
  }

  &.small {
    padding: var(--unit) calc(var(--unit) * 4);
    font-size: 12px;
  }

  &.medium {
    padding: calc(var(--unit) * 2) calc(var(--unit) * 4);
    font-size: 15px;
  }

  &.large {
    padding: calc(var(--unit) * 4) calc(var(--unit) * 5);
    font-size: 18px;
  }
}

.root:disabled {
  opacity: 0.3;
}
