.root {
  background-color: var(--button-background-color);
  color: var(--button-color);
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-image: var(--button-background-image);
  border-radius: var(--button-border-radius);

  &.primary {
    color: var(--button-color-primary);
    background-color: var(--button-background-color-primary);
    background-image: var(--button-background-image-primary);
  }

  &.secondary {
    color: var(--button-color-secondary);
    background-color: var(--button-background-color-secondary);
    background-image: var(--button-background-image-secondary);
  }

  &.tertiary {
    color: var(--button-color-tertiary);
    background-color: var(--button-background-color-tertiary);
    background-image: var(--button-background-image-tertiary);
  }

  &.small {
    padding: var(--unit) calc(var(--unit) * 4);
    font-size: 12px;
  }

  &.medium {
    padding: calc(var(--unit) * 2) calc(var(--unit) * 4);
    font-size: 15px;
  }

  &.large {
    padding: calc(var(--unit) * 4) calc(var(--unit) * 5);
    font-size: 18px;
  }

  &.fullWidth {
    width: 100%;
  }
}

.root:disabled {
  opacity: 0.3;
}
