.root {
  height: 60px;
  background-color: #030303;
  font-family: var(--font-family-secondary);
}

.content {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-weight: bold;
}

.leftContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.rightContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.input {
  margin: 0 40px;
  flex: 1;
}
