.root {
  height: 70px;
  width: 100%;
  background-color: var(--color-primary);
}

.content {
  max-width: var(--container-width);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: calc(var(--unit) * 6);
  padding-right: calc(var(--unit) * 6);
}

.logo {
  height: 40px;
  margin-right: calc(var(--unit) * 5);
}

.title {
  font-weight: bold;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.closeButton {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.balance {
  display: flex;
  align-items: center;
}

.balance img {
  width: 24px;
  border-radius: 50%;
  margin-right: calc(var(--unit) * 4);
}

.balance p {
  line-height: 150%;
}
