.root {
  min-height: 100vh;
  height: 100%;
  background-color: var(--color-background-dark);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: calc(var(--unit) * 3) 10px 0 10px;
  min-height: 300px;
  flex-direction: row;
  width: 75%;
}

.hideHeader {
  padding-top: 0;
}
