:root {
  --container-width: 990px;
  --unit: 4px;

  --color-default: #a8a8a8;
  --color-primary: #8653f6;
  --color-secondary: #ff007b;
  --color-tertiary: #545454;
  --color-text: #fefefe;
  --color-background-light: #464646;
  --color-background: #333333;
  --color-background-dark: #292929;
  --color-background-extra-dark: #212121;
  --color-background-black: #191919;

  --font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif';
  --font-family-secondary: 'Courier New', 'Lucida Console', 'Courier', 'Times',
    'Arial';

  --button-border-radius: 0px;
  --button-color: var(--color-text);
  --button-color-primary: var(--color-text);
  --button-color-secondary: var(--color-text);
  --button-color-tertiary: var(--color-text);
  --button-background-color: var(--color-default);
  --button-background-color-primary: var(--color-primary);
  --button-background-color-secondary: var(--color-secondary);
  --button-background-color-tertiary: var(--color-tertiary);
  --button-background-image: none;
  --button-background-image-primary: none;
  --button-background-image-secondary: none;
  --button-background-image-tertiary: none;

  --text-input-text-color: #fefefe;
  --text-input-placeholder-color: #a8a8a8;
  --text-input-background-color: #292929;
  --text-input-border-color: transparent;
  --text-input-border-width: 0px;
  --text-input-border-radius: 0;

  --shiny-text-animation: shine 3s linear infinite;
  --shiny-text-gradient: linear-gradient(
    to right,
    #9048fd 20%,
    #4bcbc9 40%,
    #4bcbc9 70%,
    #9048fd 90%
  );

  --snackbar-error-color: #ff0000;
  --snackbar-success-color: #00ff00;
  --snackbar-warning-color: #ff00ff;
}
