.root {
  display: flex;

  p {
    line-height: 2;
  }
}

.root > article {
  flex: 1;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin: var(--unit);
  }
}
