.cardTitle {
  margin-bottom: calc(var(--unit) * 10);
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: calc(var(--unit) * 5);
  flex: 1;
}

h5 {
  margin-bottom: calc(var(--unit) * 3);
}
.chip {
  margin: var(--unit);
}

.description {
  flex-basis: 35%;
  margin-right: calc(var(--unit) * 5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description strong {
  font-weight: bold;
}

.description p {
  margin-bottom: calc(var(--unit) * 2);
}

.descriptionText {
  line-height: 2;
}

.codeFooter {
  background-color: var(--color-background-light);
  padding: calc(var(--unit) * 6) calc(var(--unit) * 2) 0 calc(var(--unit) * 2);
}
