.root {
  width: 100%;
  padding: calc(var(--unit) * 8);
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: calc(var(--unit) * 6);
  margin: calc(var(--unit) * 3) 0;
}
