.root {
  color: var(--color-text);
  &.primary {
    color: var(--color-primary);
  }

  &.secondary {
    color: var(--color-secondary);
  }

  &.body1 {
    font-size: 14px;
  }

  &.body2 {
    font-size: 12px;
  }
}
