.root {
  color: var(--color-text);
  &.color-primary {
    color: var(--color-primary);
  }

  &.color-secondary {
    color: var(--color-secondary);
  }

  &.font-primary {
    font-family: var(--font-family);
  }

  &.font-secondary {
    font-family: var(--font-family-secondary);
  }

  &.body1 {
    font-size: 14px;
  }

  &.body2 {
    font-size: 12px;
  }
}
