.root {
  color: var(--color-text);
  &.color-primary {
    color: var(--color-primary);
  }

  &.color-secondary {
    color: var(--color-secondary);
  }

  &.font-primary {
    font-family: var(--font-family);
  }

  &.font-secondary {
    font-family: var(--font-family-secondary);
  }

  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }

  b {
    font-weight: bold;
  }
  strong {
    font-weight: bold;
  }
}
