.cardTitle {
  margin-bottom: calc(var(--unit) * 10);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: calc(var(--unit) * 5);
  flex: 1;
}
.content strong {
  font-weight: bold;
}
.infoBadge {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: calc(var(--unit) * 0.5) calc(var(--unit) * 1.5);
  border-radius: 50%;
  font-size: calc(var(--unit) * 3);
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin: var(--unit) 0 0 0;
  text-decoration: none;
}

.sectionContent {
  flex-basis: 85%;
}

.codeFooter {
  padding: 0;
  margin: 0;
}