.root {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: none;
  display: inline-block;

  &.primary {
    background-color: var(--color-background-light);
  }

  &.secondary {
    background-color: var(--color-primary);
  }

  &.small {
    padding: var(--unit) calc(var(--unit) * 4);
    font-size: 12px;
  }

  &.medium {
    padding: calc(var(--unit) * 2) calc(var(--unit) * 4);
    font-size: 15px;
  }

  &.large {
    padding: calc(var(--unit) * 4) calc(var(--unit) * 5);
    font-size: 18px;
  }
}
