.root {
  background-color: var(--color-background-light);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: calc(var(--unit) * 4);
  min-height: 500px;
  display: flex;
}