@import '../colors';
@import '../constant';

.root {
  display: flex;
  background-color: #292929;
  align-items: center;
  padding: $unit * 2 $unit;
}

.input {
  background-color: transparent;
  outline: 0;
  border: 0;
  color: $color-text;

  &::placeholder  {
    color: $color-default;
  }
}

.startContainer {
  margin-right: 0;
}

.endContainer {
  margin-left: 0;
}
