.root {
  display: flex;
  background-color: var(--text-input-background-color);
  align-items: center;
  padding: calc(var(--unit) * 2) var(--unit);
}

.rounded {
  border-radius: 50px;
}

.input {
  background-color: transparent;
  outline: 0;
  border: var(--text-input-border-width) solid var(--text-input-border-color);
  border-radius: var(--text-input-border-radius);
  color: var(--text-input-text-color);
  font-family: var(--font-family);
  width: 100%;

  &::placeholder  {
    color: var(--text-input-placeholder-color);
  }
}

.startContainer {
  margin-right: 0;
}

.endContainer {
  margin-left: 0;
}
