.root {
  display: flex;
  background-color: #292929;
  align-items: center;
  padding: calc(var(--unit) * 2) var(--unit);
}

.input {
  background-color: transparent;
  outline: 0;
  border: 0;
  color: var(--color-text);
  font-family: var(--font-family);

  &::placeholder  {
    color: var(--color-default);
  }
}

.startContainer {
  margin-right: 0;
}

.endContainer {
  margin-left: 0;
}
