.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer {
  background-color: var(--edit-field-background-color);
  color: var(--edit-field-color);
  margin: var(--unit);
}

.tooltip {
  width: 100%;
}

.tooltip p {
  color: var(--tooltip-color);
}

.inputWrapper {
  display: flex;
  align-items: center;
}
