.queryContainer {
  text-align: center;
  padding: calc(var(--unit) * 10);
  margin-top: calc(var(--unit) * 8);
}

.queryHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
